body {
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  width: 80vw;
  height: 60vh;
  border: 1px dashed black;
  position: relative;
  z-index: -1;
}
.red {
  border: 1px solid transparent;
  width: 30vw;
  height: 2vh;
  background-color: red;
}
.white {
  border: 1px solid transparent;
  width: 30vw;
  height: 2vh;
  background-color: white;
}
img {
  display: flex;
  position: relative;
}
.stars {
  width: 35vw;
  height: 32vh;
  margin-left: -45vw;
  top: 1vh;
  position: absolute;
}
